<div class="h-full flex align-items-start justify-content-center relative"
  [class]="data ? 'align-items-start': 'align-items-center'">
  @if (mode() === 'layout') {
  <p-button icon="pi pi-trash" class="mr-2 absolute remove-btn" (click)="remove.emit()"></p-button>
  }
  @else if (mode() === 'content') {
  @if(!data){
  <p-fileupload mode="basic" name="file" chooseIcon="pi pi-upload" url="http://localhost:3000/upload" accept="image/*"
    maxFileSize="1000000" (onUpload)="onUpload($event)" (onError)="onError($event)" (onClear)="onClear()" [auto]="true"
    chooseLabel="Browse" />
  }@else {
  <img [src]="data" alt="Uploaded Image" class="max-h-full max-w-full" />
  <p-button icon="pi pi-times" variant="text" severity="secondary" class="mr-2 absolute top-0 right-0"
    (click)="removeImage()"></p-button>
  }

  }

  @if (mode() !== 'content' && data){
  <img [src]="data" alt="Uploaded Image" class="max-h-full max-w-full" />
  }@else if(mode() !== 'content') {
  請上傳圖片
  }
</div>