button.active {
  background-color: lightblue;
}
.custom-grid {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 10px;
  grid-template-columns: repeat(12, 1fr);

  div {
    position: relative;
    border-radius: 20px;

    &.editing {
      border: lightblue 2px dashed;
    }

    &.resizing {
      background-color: #3498db;
    }

    .preview {
      width: 100%;
    }

    .btn-confirm {
      display: none;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    &.resizing .btn-confirm {
      display: block;
    }

    .height-editable {
      cursor: nw-resize;
    }

    .height-lock {
      cursor: e-resize;
    }

    .resize-handle {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30px;
      height: 30px;
      overflow: hidden;
      z-index: 10;
    }
  }
}

.column-12 {
  grid-column: span 12;
}

.column-8 {
  grid-column: span 12;
}

.column-6 {
  grid-column: span 12;
}

.column-4 {
  grid-column: span 12;
}

@media screen and (min-width: 768px) {
  .column-12 {
    grid-column: span 12;
  }

  .column-8 {
    grid-column: span 12;
  }
  
  .column-6 {
    grid-column: span 6;
  }
  
  .column-4 {
    grid-column: span 6;
  }
}

@media screen and (min-width: 992px) {
  .column-12 {
    grid-column: span 12;
  }

  .column-8 {
    grid-column: span 8;
  }
  
  .column-6 {
    grid-column: span 6;
  }
  
  .column-4 {
    grid-column: span 4;
  }
}
