<div class="grid">
    <div class="col-2">
        <p-panel header="新增元件">
            <app-component-list (add)="addItem($event)"></app-component-list>
            <div class="flex gap-2 mt-5">
                <p-button label="儲存頁面" [raised]="true" (click)="save()"></p-button>
                <p-button label="放棄" severity="secondary" [raised]="true" (click)="cancel()"></p-button>
            </div>
        </p-panel>
        <div class="mt-5">
            <p-button label="顯示資料結構" [raised]="true" (click)="showComponent=true"></p-button>
        </div>
    </div>
    <app-draggable class="col-10" [componentList]="componentList" (result)="componentList=$event"
        (remove)="remove($event)"></app-draggable>
</div>

<p-dialog header="資料結構" [modal]="true" [(visible)]="showComponent" [style]="{ width: '25rem' }"
    [dismissableMask]="true">
    {{componentList | json}}
</p-dialog>