<p-selectbutton [options]="modeOption" [(ngModel)]="mode" [allowEmpty]="false" optionLabel="name" optionValue="value" />

<div #sortableList class="custom-grid mt-5">
  @for (item of sortList(); track item.id) {
  <div [ngClass]="{'editing': mode!='preview', 'draggable': mode == 'layout' }" class="column-{{item.width}}"
    [style]="{'grid-row': 'span ' + item.height, 'cursor': mode == 'layout' ? 'grab': 'default'}">
    @if (item.layoutType=='標題') {
    <app-title [mode]="mode" [inputData]="item.data" (remove)="remove.emit(item)"
      (outputData)="updateData(item, $event)"></app-title>
    }
    @else if (item.layoutType === "文章") {
    <app-tinymce-editor [gridItem]="item" (heightChange)="onEditorHeightChange(item, $event) " [mode]="mode"
      (remove)="remove.emit(item)"></app-tinymce-editor>
    }
    @else if(item.layoutType === '圖片'){
    <app-image [mode]="mode" [inputData]="item.data" (remove)="remove.emit(item)"
      (outputData)="updateData(item, $event)"></app-image>
    }
    @else if (item.layoutType === "跑馬燈") {
    <app-marquee [mode]="mode" [inputData]="item.data" (remove)="remove.emit(item)"
      (outputData)="updateData(item, $event)"></app-marquee>
    }

    <!-- 調整大小 -->
    @if (mode=='layout') {
    <div class="resize-handle" [class]="item.heightEditable ? 'height-editable' : 'height-lock'"
      (mousedown)="onResizeStart($event, item)"></div>
    }
  </div>
  }
</div>